html, body{

  font-family:"Baskerville"; font-weight: lighter;
letter-spacing:2px;
  overflow-y: auto;
  overflow-x: auto;
  font-size:12px;
  font-color:#222;
}
a{
	font-color:#000;
}
#header{
	position:fixed;
	top:0px;
	left:0px;
}
#title-text{
	position:fixed;
	left:0px;
	top:0px;
	padding-top:10px;
	padding-left:90px;
}

#logo{
	padding:10px;
	height: 60px;
	width: 60px;
	z-index: 3;
  
}
#title{
	padding-left:5px;
	font-size: 46px;
}
#subtitle{
	padding-left:5px;
	font-size:14px;
}

#containers {width:1000px;height:700px;position:relative;float:top;}

#containers #svg-nyc-map {position:relative; float:left; margin-top:70px; padding:10px;}

#containers #svg-world-map{position:relative; float:left; overflow:hidden; margin-right:10px; margin-top:0px;}


#containers #svg-timeline {
	width:1000px;
	height:150px;
	position:absolute;
	top:500px;
	font-size:10px;
}

#containers #svg-timeline .selected-year {
	fill:#ECAB23;
}

#axisLabels #axisYear{
	position:absolute;
	top:650px;
	left:15px;
	font-size:10px;
	
}
#axisLabels #axisCompanies{
	position:absolute;
	top:490px;
	left:920px;
	font-size:10px;
}
#timeline-controls .stop {
	display:none;
}
#selectionDetails{
	position:absolute;
	top:465px;
	left:20px;
	font-size:16px;
}

#currentSelection{
	position:absolute;
	left:30px;
	top:600px;
	width:260px;
	font-size:14px;
	border:1px black solid;
}
#countryName{
  position: absolute;
  top:120px;
  left:530px;;
}


#data-lightbox {
  position: absolute;
  border-radius: 5px;
  opacity: 0;
  bottom:20px;
  float:left;
  left: 750px;
  border:1px;
  border-color: rgba(43, 40, 40, 0.5);
  border-style: outset;
  width: 300px;
  color :#555;
  padding: 40px;
  font-size: 12px;
  letter-spacing: 1.5px;
  background-color:#fff;
  z-index: 5;
}
#loader{
	position:absolute;
	top:40%;
	left:40%;
}
#lightbox-close {
  background-color: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0;
  height: 15%;
  width: 5%;
  padding: 5px;
  position: absolute;
  top: 2%;
  left: 95%;
}

#resetAll{position:absolute;top:130px;left:30px;color:#666;cursor:pointer;font-size:14px;}
#resetAll:hover{color:#666;cursor:pointer;text-shadow: 1px 1px 12px  #aaa;}
#resetAll:active{color:#ff2222;cursor:pointer;text-shadow: 1px 1px 12px  #aaa;}

#timeline-controls{position:absolute;top:140px;left:30px;color:#666;cursor:pointer;font-size:14px;}
#timeline-controls:hover{color:#666;cursor:pointer;text-shadow: 1px 1px 12px #aaa;}
#timeline-controls:active{color:#ff2222;cursor:pointer;text-shadow: 1px 1px 12px #aaa;}



#footer i.fa-plus {
  font-size: 10px;
  opacity: 0.5;
  margin: 5px;
}
#footer{position:absolute;bottom:10px;margin-left:10px;border-top:1px solid #aaa;line-height:200%;color:#aaa;width:95%;}

#footer a{
  color: rgba(100,100,100,1.0);
  font-size: 10px;
}

.footer-highlight{
  color: rgba(100,100,100,1.0);
  cursor: pointer;
}

.footer-highlight-link{
  color: rgba(100,100,100,1.0);
  cursor: pointer;
  text-decoration: underline;
}
.footer-plus {
  color: #656566;
  font-size: 12px;
}
/*light boxes*/
#essayBox{ position:absolute; top:100px;display: none;height: 600px; border-radius: 5px;opacity: 0.0;color : #444;padding-left: 60px; padding-right: 120px; font-size: 16px;letter-spacing: 1px;background-color:rgba(255, 255, 255, 0.9);font-family: 'EB Garamond', serif;z-index:200;}
#essayBox2{  position:absolute; top:100px;display: none; height: 580px; width:100%; border-radius: 5px;  opacity: 0.0;color : #444; padding-left: 80px; padding-right: 120px;font-size: 12px;letter-spacing: 1px; background-color:rgba(255, 255, 255, 0.9);font-family: 'EB Garamond', serif; z-index:200; overflow:auto;}
#essayBox-close { cursor: pointer; height: 15%;width: 5%; padding: 5px; color:rgb(1,1,1); z-index:100;}
#essayBox-close2 {cursor: pointer; height: 15%;width: 5%;padding: 5px; color:rgb(1,1,1); z-index:100;}
#essayContent p {margin-bottom: 10px;margin-left:100px;margin-right:150px;z-index:90;}
#essayContent table{margin-left:100px;margin-right:150px;font-size:11px;}
#essayContent a {color: black;text-decoration: underline;z-index:90;}
#companyList td, #companyList th{text-align:left;vertical-align:top;}
#companyList p{ margin-bottom: 10px;margin-left:30px;margin-right:120px;z-index:9999;}
#feedback{position:relative; float:right;width:200px;text-align:right;}
#credit{position:relative; float:left;width:700px;text-align:left;}
#essayBox-close{position:relative;float:right;}
#essayBox-close2{position:relative;float:right;height:30px;}
#detailMore{cursor: pointer;color:#000;position:relative;float:left;margin-left:30px;margin-top:-10px;height:40px;font-size:18px;}


.d3-tip {
  line-height: 1;
  padding: 4px;
  background: #ECAB23;
  color: #fff;
  border-radius: 3px;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 9px;
  width: 100%;
  line-height: 1;
  color: #ECAB23;
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.d3-tip-nyc {
  line-height: 1;
  padding: 2px;
  background: #ff2222;
  color: #fff;
  border-radius: 3px;
}
.d3-tip-nyc:after {
  box-sizing: border-box;
  display: inline;
  font-size: 9px;
  width: 100%;
  line-height: 1;
  color: #ff2222;
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip-nyc.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.d3-tip-world {
  line-height: 1;
  padding: 4px;
  background: rgba(0,0,0,.5);
  color: #fff;
  border-radius: 3px;
}
.d3-tip-world.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}