html, body{
  max-height: 1000px;
  max-width: 1800px;
  font-family:"Baskerville"; font-weight: lighter;
  letter-spacing:1px;
  overflow-y: auto;
  overflow-x: auto;
  font-size:12px;
  font-color:#111;
}
a{
	font-color:#000;
}
#title{
	position:absolute;
	top:15px;
	left:105px;
	font-size: 48px;
	color:#111;
	letter-spacing:3px;
}
#subtitle{
	position: absolute;
	top:73px;
	left:107px;
	font-size:14px;
	letter-spacing:2px;
}
#logo{
  position:absolute;
  top: 30px;
  left :30px;
  height: 60px;
  width: 60px;
  z-index: 3;
}

#currentSelection{
	position:absolute;
	left:30px;
	top:600px;
	width:260px;
	font-size:14px;
}
#countryName{
  position: absolute;
  top:120px;
  left:530px;;
}

#containers{
  width: 1000px;
  height: 700px;
}

#svgContainer1 {
  position: absolute;
  left:30px;;
  top: 110px;
  width: 450px;
  height: 500px;
  padding:10px;
    
}

#svgContainer1 svg{
  position: absolute;
  left: 2px;
}
#timelineX{
	top:715px;
	left:350px;
	position:absolute;
	font-size:11px;
}
#timelineY{
	top:580px;
	left:1340px;
	position:absolute;
	font-size:11px;
}
#svgContainer2 {
  position: absolute;
  left:530px;
  top: 110px;
  right: 20px;
  width: 800px;
  height: 450px;
  padding:10px;
  border-left:solid 1px #ddd;
}

#svgContainer2 svg{

}
#svgContainer3 {
	width:1100px;
	height:150px;
	position:absolute;
	top:600px;
	left:340px;
}
#map-descp {
  font-size: 12px;
  color :#000;
  letter-spacing: 1.5px;
  z-index: 3;
}

#data-lightbox {
  position: absolute;
  border-radius: 5px;
  opacity: 0;
  bottom:20px;
  float:left;
  left: 750px;
  border:1px;
  border-color: rgba(43, 40, 40, 0.5);
  border-style: outset;
  width: 300px;
  color :#555;
  padding: 40px;
  font-size: 12px;
  letter-spacing: 1.5px;
  background-color:#fff;
  z-index: 5;
}
#loader{
	position:absolute;
	top:40%;
	left:40%;
}
#lightbox-close {
  background-color: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0;
  height: 15%;
  width: 5%;
  padding: 5px;
  position: absolute;
  top: 2%;
  left: 95%;
}


#footer i.fa-plus {
  font-size: 10px;
  opacity: 0.5;
  margin: 5px;
}

#footer a{
  color: rgba(100,100,100,1.0);
  font-size: 10px;
}

.footer-highlight{
  color: rgba(100,100,100,1.0);
  cursor: pointer;
}

.footer-highlight-link{
  color: rgba(100,100,100,1.0);
  cursor: pointer;
  text-decoration: underline;
}
.footer-plus {
  color: #656566;
  font-size: 12px;
}
/*light boxes*/
#essayBox{ position:absolute; top:100px;display: none;height: 600px; border-radius: 5px;opacity: 0.0;color : #444;padding-left: 60px; padding-right: 120px; font-size: 16px;letter-spacing: 1px;background-color:rgba(255, 255, 255, 0.9);font-family: 'EB Garamond', serif;z-index:200;}
#essayBox2{  position:absolute; top:100px;display: none; height: 580px; width:100%; border-radius: 5px;  opacity: 0.0;color : #444; padding-left: 80px; padding-right: 120px;font-size: 12px;letter-spacing: 1px; background-color:rgba(255, 255, 255, 0.9);font-family: 'EB Garamond', serif; z-index:200; overflow:auto;}
#essayBox-close { cursor: pointer; height: 15%;width: 5%; padding: 5px; color:rgb(1,1,1); z-index:100;}
#essayBox-close2 {cursor: pointer; height: 15%;width: 5%;padding: 5px; color:rgb(1,1,1); z-index:100;}
#essayContent p {margin-bottom: 10px;margin-left:200px;margin-right:200px;z-index:90;}
#essayContent a {color: black;text-decoration: underline;z-index:90;}
#companyList td, #companyList th{text-align:left;vertical-align:top;}
#companyList p{ margin-bottom: 10px;margin-left:30px;margin-right:150px;z-index:9999;}
#footer{position:relative; float:bottom; margin-left:2%;border-top:1px solid #aaa;width:96%; line-height:200%;margin-top:50px;height:30px;font-size:12px; letter-spacing:1px;color:#aaa;}
#feedback{position:relative; float:right;width:200px;text-align:right;}
#credit{position:relative; float:left;width:700px;text-align:left;}
#essayBox-close{position:relative;float:right;}
#essayBox-close2{position:relative;float:right;height:30px;}
#detailMore{cursor: pointer;color:#000;position:relative;float:left;margin-left:30px;margin-top:-10px;height:40px;font-size:18px;}
#resetAll{position:absolute;top:130px;left:1200px;color:#2DA1B3;text-shadow: 1px 1px 12px #2DA1B3;}


.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
	stroke: #aaa;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #aaa;
}
.axis text {
    font-size: 10px;
}
.d3-tip {
  line-height: 1;
  padding: 4px;
  background: #ECAB23;
  color: #fff;
  border-radius: 3px;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 9px;
  width: 100%;
  line-height: 1;
  color: #ECAB23;
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.d3-tip-nyc {
  line-height: 1;
  padding: 2px;
  background: #ff2222;
  color: #fff;
  border-radius: 3px;
}
.d3-tip-nyc:after {
  box-sizing: border-box;
  display: inline;
  font-size: 9px;
  width: 100%;
  line-height: 1;
  color: #ff2222;
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.d3-tip-nyc.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.d3-tip-world {
  line-height: 1;
  padding: 4px;
  background: rgba(0,0,0,.5);
  color: #fff;
  border-radius: 3px;
}
.d3-tip-world.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}